html,
body,
.app {
  /* probably unecessary, transitional until layout is refactored */
  width: 100%;

  /* Setting min height/width makes the UI scroll below those sizes */
  min-width: 1024px;
  height: 100%;
  min-height: 640px; /* Min height to fit sprite/backdrop button */
  margin: 0;
}

/* @todo: move globally? Safe / side FX, for blocks particularly? */
* {
  box-sizing: border-box;
}
