@import '../../css/units.css';
@import '../../css/colors.css';
@import '../../css/z-index.css';

.drag-layer {
  position: fixed;
  z-index: $z-index-drag-layer;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  direction: ltr;
}

.image-wrapper {
  /* Absolute allows wrapper to snuggly fit image */
  position: absolute;
}

.image {
  min-width: 50px;
  max-width: 80px;
  min-height: 50px;
  max-height: 80px;
  margin-top: -50%;

  /* Center the dragging image on the given position */
  margin-left: -50%;
  padding: 0.25rem;
  border: 2px solid $looks-secondary;
  border-radius: 0.5rem;
  background: $ui-white;

  /* Use the same drop shadow as stage dragging */
  box-shadow: 5px 5px 5px $ui-black-transparent;
}
